# Caches
/.bundle
.sass-cache
.byebug_history

# local config
config/database.yml
config/redis.yml
config/s3.yml
config/secrets.yml.key
db/*.sqlite3

# Paperclip files
/public/system/*
/public/sites/*

# log and tempfiles
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*

# Javascript
/node_modules
/yarn-error.log
/public/packs-test
/public/packs

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
yarn-error.log*
.yarn-integrity
