%h1 Reset the password for your Portrait account
%p Hi #{@user.name},
%p Go to the link below to reset your password
%p
  %a=edit_password_reset_url(@user.password_reset_token)
%p Sincerely,
%p The Portrait Team
