%dl
  %dt Name
  %dd= form.text_field :name

  %dt Password
  %dd= form.text_field :password
  %dt Email
  %dd= form.text_field :email
  -if @user.admin
    %dt
      = form.check_box :admin
      %label{for: 'user[admin]'} Admin
