=form_tag('/reset_password', method: "post") do
  %p A new password will be sent to your email
  %dl
    %dt Name
    %dd= text_field :name, 'name'
    %dt Email
    %dd= text_field :email, 'email'

    %p= submit_tag 'Reset Password'
