%table
  %tr
    %th Name
    %th Sites
    %th Admin

  - @users.each do |user|
    %tr
      %td= link_to user.email, user
      %td
        .badge= number_with_delimiter user.sites.count
      %td= user.admin? ? 'Yes' : 'No'
