%h1 Portrait
%p Portrait is a web service for capturing a webpage as an image. This particular instance is password protected, but you can download your own copy. Portrait is design to run on OS X. If you'd like to use portrait within a ruby project, check out portrait_party.

%ul
  %li= link_to 'Portrait on GitHub', 'http://github.com/jmckible/portrait'
  %li= link_to 'portrait_party', 'http://github.com/jmckible/portrait_party'
  %li= link_to "Paul Hammond's webkit2png", 'http://github.com/paulhammond/webkit2png'
