@import "bootstrap";

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul li {
  list-style: none;
  line-height: 1.5em;
  margin: 0;
}

table {
  font-size: 75%;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2em;
}
table tr th {
	padding: 6px 4px 6px 8px;
	color: #666;
	text-align: left;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background-color: #e6e6e6;
	text-transform: uppercase;
	font-size: 11px;
}
table td {
	vertical-align: middle;
	padding: 8px 4px 8px 8px;
	border-bottom: solid 1px #E6E6E6;
	line-height: 16px;
  text-align: left;
}

form {
  font-size: 75%;
}

/* Style Devise Flash messages like Bootstrap */
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-warning;
}
.alert-error {
  @extend .alert-danger;
}

/* thumbnail gallery */
/* lifted from stack overflow answer */

a.thumbnail {
  overflow: hidden;
  display:block;
  position:relative;
  width: 100%;
  height: 0;
  padding-bottom: 50% ; /* % of width, defines aspect ratio*/
  margin-bottom: 1em;

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

form {
  padding-bottom: 1em;
}
