!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    %title .portrait.
  %body
    %h1= link_to 'portrait', root_path
    #Content= yield
